<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items" button (click)="viewMotif(item)">
      <ion-card>
        <ion-card-subtitle>
          <ion-datetime value="{{item.date}}" display-format="DD-MM-YYYY , h:mm A" picker-format="h:mm A" display-timezone="utc"></ion-datetime>
        </ion-card-subtitle>
        <ion-card-content *ngIf="item.motifVisible">
          <ion-label>
            Montant: {{item.montant}}
          </ion-label>
          <ion-label>
            Motif: {{item.motif}}
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
