<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="flash"></ion-icon>
      <ion-label>home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="depense-today">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Tab One</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="add-depense">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Tab two</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="depense">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Tab three</ion-label>
    </ion-tab-button>

  </ion-tab-bar>  
</ion-tabs>
