<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="credit">
      <ion-icon name="wallet"></ion-icon>
      <ion-label>Credit</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="add-depense"  (click)="addDep()">
      <ion-icon name="remove-circle-outline"></ion-icon>
      <ion-label>Debit</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="home">
      <ion-icon name="Home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="depense-today">
      <ion-icon name="reorder-four"></ion-icon>
      <ion-label>Today</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="depense">
      <ion-icon name="reorder-three"></ion-icon>
      <ion-label>Depense</ion-label>
    </ion-tab-button>
  </ion-tab-bar>  
</ion-tabs>
