.CA{
    text-align: right;
    font-size: 13px;
}
.erreur{
    margin: 0px 0px;
    color:rgb(245, 30, 30);
}
.titre {
    font-size: 30px;
}
.barTitre{
    text-align: center;
}
h1{
    margin: 0px;
}