<ion-content>
  <ion-progress-bar color="primary" type="indeterminate" *ngIf="timeLoad === true"></ion-progress-bar>
 <ion-grid>
  <ion-row class="ion-align-items-end" >
    <ion-col>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="barTitre">
        <h1 class="titre">Create account</h1>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <p class="erreur">{{error}}</p>
      <ion-item  color="none">
        <ion-input required="true" placeholder="Name" [(ngModel)]="nom" ></ion-input>
      </ion-item>
      <ion-item  color="none">
        <ion-input required="true" placeholder="Email" [(ngModel)]="email" ></ion-input>
      </ion-item>
      <ion-item color="none">
        <ion-input type="{{ TPMdp }}" required="true" placeholder="Password" [(ngModel)]="mdp" ></ion-input>
        <ion-icon size="small" slot="end" name="eye" (click)="onChangeTPMdp()" *ngIf="TPMdp === 'password'"></ion-icon>
        <ion-icon size="small" slot="end" name="eye-off" (click)="onChangeTPMdp()" *ngIf="TPMdp === 'text'"></ion-icon>
      </ion-item>
      <ion-item color="none">
        <ion-input type="{{ TPConf }}" required="true" placeholder="Confirm password" [(ngModel)]="confMdp" ></ion-input>
        <ion-icon size="small" slot="end" name="eye" (click)="onChangeTPConf()" *ngIf="TPConf === 'password'" ></ion-icon>
        <ion-icon size="small" slot="end" name="eye-off" (click)="onChangeTPConf()" *ngIf="TPConf === 'text'" ></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand="block" color="primary" (click)="onInscription()">CREATE ACCOUNT</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <p class="CA" >Already have an account?<a routerLink="/auth/login" >Login</a></p>
    </ion-col>
  </ion-row>
 </ion-grid>
</ion-content>