
<ion-content>
  <div id="container">
<ion-card>
    <ion-card-header>
      <ion-card-subtitle>Solde</ion-card-subtitle>
      <ion-card-title> <ng2-odometer [number]="solde" [config]="{animation: 'count', 
        format: 'd', 
        theme: 'default', 
        value: 50,
        auto: true}"></ng2-odometer> Ar</ion-card-title>
    </ion-card-header>
  
   <ion-card-content>
      Bonjour {{nom}}!
      voici votre solde restante
   </ion-card-content>
  </ion-card>
  </div>
 
</ion-content>
